.superFont{
  font-family: 'Bangers', cursive;
  font-size:3rem;
  
}
.input-with-hint {
  border: 0.9px solid #888;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font-size: 1em;
  color: #333;
  width: 100%;
}
.dot {
  text-decoration: none;
  list-style: none;
}
.hidden {
  display: none;
}

.card {
  width: 250px;
  margin-bottom: 20px;
}
.card img{
  max-height: 280px;
}
.card-body {
  padding: 0 !important;
}
.spinner-border {
  width: 5rem;
  height: 5rem;
}
.personaje img {
  max-height: 40vh;
  object-fit: cover;
}

.img-busqueda {
  max-height: 40vh;
  object-fit: cover;
}
.SumaPowerstats {
  text-transform: capitalize;
  text-align: center;
  font-size:1.1rem;
}
.subtitulos{
  font-size: 2rem!important;
}
body{
    opacity: .9;

  }
