.superFont {
  font-family: "Bangers", cursive;
  font-size: 3rem;
  font-weight: bolder;
}
.input-with-hint {
  border: 0.9px solid #888;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font-size: 1em;
  color: #333;
  width: 100%;
}
.dot {
  text-decoration: none;
  list-style: none;
}
.hidden {
  display: none;
}

.card {
  width: 250px;
  margin-bottom: 20px;
}
.card img {
  max-height: 280px;
}
.card-body {
  padding: 0 !important;
}
.spinner-border {
  width: 5rem;
  height: 5rem;
}
.personaje img {
  max-height: 40vh;
  object-fit: cover;
}

.img-Home {
  max-height: 40vh;
  object-fit: cover;
}
.SumaPowerstats {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.1rem;
}
.subtitulos {
  font-size: 2rem !important;
  font-weight: bolder;
  color: black;
}
body {
  opacity: 0.9;
}
.totals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}
.totals > li {
  border: black 1px solid;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
}
.totals > li:hover {
  background-color: gainsboro;
}
.line {
  background-color: black;
}
.main {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  max-height: auto;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  background:linear-gradient(rgba(30, 26, 26, 0.6), rgba(0, 0, 0, 0.8)), url("https://w0.peakpx.com/wallpaper/687/560/HD-wallpaper-comics-words-superhero-comic-book-design-pow-premium-text-wow.jpg");

}

.supertitle {
  padding: 5px 0 5px 0;
  color: black;
  font-weight: bolder;
}
